{% extends "webapp/cadastro_proc.html" %}


{% block content %}



<p>

<form class="form-horizontal" method="post">{% csrf_token %}
   <font color=red>{{ error }}</font>
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-default" onclick="return Validate()">Submit</button>
    </div>
</form>


<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("id_password1").value;
        var confirmPassword = document.getElementById("id_password2").value;
        if (password != confirmPassword || password.length < 6) {
            alert("Favor verificar a senha!");
            return false;
        }
        return true;
    }
</script>



    </div>
  </div>
</form>


</div>
        
        </div>
      </div>
    </div>


<div>
<p></p>
<a type="button" class="btn btn-link" href="#">Esqueci a senha</button>
<a type="button" class="btn btn-link" href="/cadastro_proc/">Cadastrar</button>
</div>




{% endblock %}